body {
    background-color: #000000;
    background-size: 200% 200%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#phaser-container {
    position: absolute;
    background-color: #4545AA;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

#game-container, #level-transition {
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -500px;
    width: 1000px;
    height: 100%;
}

#level-transition {
    width: 1002px;
    display: none;
    background-color: black;
    color: white;
    z-index: 2;
}

#level-transition .container {
    width: 50%;
    margin: 10% auto;
}

#level-transition .container h1 {
    text-align: center;
    margin-bottom: 50px;
}

#level-transition .container button {
    margin-top: 60px;
}